# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules/

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage
coverage

# Grunt intermediate storage
.grunt

# Bower dependency directory
bower_components

# node-waf configuration
.lock-wscript

# IDEs
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
.env
.env.local
